<form method="post" action="{{ path('avis_delete', {'id': avis.id}) }}"
      onsubmit="return confirm('Êtes vous sur de vouloir supprimer cet avis ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avis.id) }}">
    <button class="btn text-danger">Supprimer</button>
</form>
