<div class="col-lg-7 col-sm-12">
    {{ form_start(formSearchBar, {'action': path('boutique', {'pageCourante' : 1}) }) }}
    <div class="d-flex align-items-center mb-2">
        {{ form_widget(formSearchBar.rechercheNav) }}

        {# {{ form_widget(formSearchBar.save) }} #}

        <button type="submit" class="ms-2 bouton-nav d-flex search-h">
            <i class="fas fa-search"></i>
        </button>
    </div>
    {{ form_end(formSearchBar) }}
</div>

