{% extends 'base-admin.html.twig' %}

{% block title %}Modifier Sub sous catégorie{% endblock %}

{% block body %}
    <h1>Modifier Sub sous catégorie</h1>

    {{ include('subsouscategorie/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="d-flex">
        <div><a class="btn btn-outline-dark" href="{{ path('subsouscategorie_index') }}">Retour à la liste</a></div>

        <div>{{ include('subsouscategorie/_delete_form.html.twig') }}</div>

    </div>

{% endblock %}
