{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Conditions générales de vente{% endblock %}
    {% block bg %}bg-body-deg{% endblock %}
{% block body %}

    <main>
        <!-- Fil d'ariane -->
        <nav
                class="container my-2"
                style="--bs-breadcrumb-divider: '>'"
                aria-label="breadcrumb"
        >
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('default') }}">Accueil</a></li>
                <li class="breadcrumb-item active">Conditions Générales de Vente</li>
            </ol>
        </nav>

        <section class="container">
            <h6 id="ancre-cvg">Conditions générales de vente</h6>
            <ul class="mb-5">
                <li>
                    <a href="#ancre1" class="text-red-link"> Champ d‘application</a>
                </li>
                <li>
                    <a href="#ancre2" class="text-red-link"
                    >Formation du contrat dans la boutique en ligne
                    </a>
                </li>
                <li>
                    <a href="#ancre3" class="text-red-link"
                    >Informations sur le droit de rétractation | droit de rétractation
                        & effets de la rétractation
                    </a>
                </li>
                <li><a href="#ancre4" class="text-red-link">Prix | validité </a></li>
                <li>
                    <a href="#ancre5" class="text-red-link">Frais de livraison </a>
                </li>
                <li><a href="#ancre6" class="text-red-link">Retours</a></li>
                <li>
                    <a href="#ancre7" class="text-red-link">Options de livraison </a>
                </li>
                <li>
                    <a href="#ancre8" class="text-red-link"
                    >Disponibilité des produits
                    </a>
                </li>
                <li><a href="#ancre9" class="text-red-link">Paiement </a></li>
                <li>
                    <a href="#ancre10" class="text-red-link">Bons d’achat en ligne </a>
                </li>
                <li>
                    <a href="#ancre11" class="text-red-link"
                    >Essai de nouvelles options de livraison gratuite
                    </a>
                </li>
                <li><a href="#ancre12" class="text-red-link">Garantie</a></li>
                <li>
                    <a href="#ancre13" class="text-red-link">Protection des données </a>
                </li>
                <li>
                    <a href="#ancre14" class="text-red-link"
                    >Droit de propriété intellectuelle
                    </a>
                </li>
                <li>
                    <a href="#ancre15" class="text-red-link"
                    >Langue du contrat | loi applicable | exploitant du site
                    </a>
                </li>
                <li>
                    <a href="#ancre16" class="text-red-link"
                    >Règlement de litiges en ligne | règlement de litiges de
                        consommation
                    </a>
                </li>
                <li>
                    <a href="#ancre17" class="text-red-link"
                    >Réserve de propriété | revente
                    </a>
                </li>
                <li>PDF CGV</li>
            </ul>

            <h6 id="ancre1">1. Champ d‘application</h6>
            <p>
                Les présentes Conditions générales de vente s’appliquent dans leur
                version en vigueur au moment de la commande à toute commande dans la
                boutique en ligne de La Nîmes'alerie, accessible via www.La
                Nîmes'alerie.fr.
            </p>
            <p class="pb-5">
                La boutique en ligne est exploitée par la société à responsabilité
                limitée de droit Français, ayant son siège àNîmes. 32 – 38, D-47809
                Krefeld et immatriculée au Registre du Commerce de Wakabimboum sous le
                numéro HRB 5030.
            </p>

            <h6 id="ancre2">2. Formation du contrat dans la boutique en ligne</h6>
            <p>
                La commande passée par vos soins vaut conclusion du contrat. Toutes
                nos offres dépendent néanmoins de notre propre approvisionnement et
                doivent par conséquent être comprises « sous réserve des stocks
                disponibles ».
            </p>
            <p class="pb-5">
                Nos produits, y compris les produits en promotion, ne sont vendus
                qu’en quantités correspondant aux besoins habituels d’un foyer. Nous
                conservons le texte du contrat sur votre compte client.
            </p>

            <h6 id="ancre3">
                3. Informations sur le droit de rétractation | droit de rétractation &
                effets de la rétractation
            </h6>
            <h6>3.1 Droit de rétractation</h6>
            <p>
                Vous avez le droit de rétracter votre commande sans donner de motif
                dans un délai de quatorze jours suivant la date où vous-même ou un
                tiers désigné par vous, autre que le transporteur, prend physiquement
                possession du dernier bien ou lot ou de la dernière pièce commandée.
            </p>
            <p>
                Votre décision de rétracter votre commande au moyen d’une décision
                dénuée d’ambiguïté (par exemple, lettre envoyée par la poste, courriel
                électronique). À cet effet, vous pouvez utiliser le modèle de
                formulaire de rétractation que vous trouverez ici : télécharger
                directement.
            </p>
            <p class="pb-5">
                Pour que le délai de rétractation soit respecté, il suffit de nous
                transmettre votre communication relative à l’exercice du droit de
                rétractation avant l’expiration de ce délai.
            </p>

            <h6>3.2 Effets de la rétractation</h6>
            <p>
                En cas de rétractation de votre part, nous vous rembourserons tous les
                paiements reçus de vous, y compris les frais de livraison (à
                l’exception des frais supplémentaires découlant du fait que vous avez
                choisi, le cas échéant, un mode de livraison autre que le mode moins
                coûteux de livraison standard proposé par nous), sans retard excessif
                et, en tout état de cause, au plus tard quatorze jours à compter du
                jour où nous sommes informés de votre décision de rétractation. Nous
                procéderons au remboursement en utilisant le même moyen de paiement
                que celui que vous aurez utilisé pour la transaction initiale, sauf si
                nous avons convenu expressément d’un moyen différent ; en tout état de
                cause, ce remboursement n’occasionnera pas de frais pour vous.
            </p>
            <p>
                Nous pouvons différer le remboursement jusqu’à ce que nous ayons reçu
                le bien ou jusqu’à ce que vous ayez fourni une preuve d’expédition du
                bien, la date retenue étant celle du premier de ces faits.
            </p>
            <p>
                Vous devrez nous renvoyer ou nous restituer le bien sans retard
                excessif et, en tout état de cause, au plus tard quatorze jours après
                que vous nous ayez communiqué votre décision de rétractation. Ce délai
                est réputé respecté si vous renvoyez le bien avant l’expiration du
                délai de quatorze jours. Nous prendrons en charge les frais de renvoi
                du bien. Votre responsabilité n’est engagée qu’à l’égard de la
                dépréciation du bien résultant de manipulations autres que celles
                nécessaires pour établir la nature, les caractéristiques et le bon
                fonctionnement de ce bien.
            </p>
            <p class="pb-5">
                ATTENTION : <br/>
                Le droit de rétractation ne peut être exercé notamment en cas de
                fourniture de biens susceptibles de se détériorer ou de se périmer
                rapidement ainsi que de biens scellés ne pouvant être renvoyés pour
                des raisons de protection de la santé ou d’hygiène et qui ont été
                descellés par le consommateur après la livraison, conformément à
                l’article L221-28 du Code de la Consommation.
            </p>

            <h6 id="ancre4">4. Prix | validité</h6>
            <p class="pb-5">
                Les prix affichés dans la boutique en ligne s’entendent en Euros, et
                toutes taxes comprises (TTC avec une T.V.A. au taux en vigueur), hors
                participation aux frais d’expédition.
            </p>

            <h6 id="ancre5">5. Frais de livraison</h6>
            <p>
                Le montant de commande minimum est de 15,00 EUR (hors frais de port).
            </p>
            <p class="pb-5">
                Les frais de livraison s’élèvent à 4,99 € par commande. Pour toute
                commande dont le montant est compris entre à 39,00 EUR et 48,99 EUR,
                les frais de livraison s’élèvent à 1,99€. Si la valeur des produits
                est égale ou supérieure à 49,00 €, la livraison est gratuite.
            </p>

            <h6 id="ancre6">6. Retours</h6>
            <p>
                Au-delà du droit de rétractation prévu par la loi, il vous est
                possible de retourner les produits dans un délai de trente jours après
                leur réception s’ils ne vous conviennent pas.
            </p>
            <p>
                Si vous souhaitez nous retourner des produits commandés dans notre
                boutique en ligne, nous vous proposons les modalités de retour
                décrites ci-dessous.
            </p>
            <p>
                Vous pouvez déposer les produits commandés dans un point de service de
                DPD / Chronopost: https://www.dpd.fr/recherche-relais
            </p>
            <p>
                Veuillez utiliser l’étiquette de retour que vous trouverez dans votre
                colis pour les retours. Fressnapf ne prendra pas en charge les frais
                liés à un autre mode de retour.
            </p>
            <p class="pb-5">
                IMPORTANT : <br/>
                Votre article provenant de l’entrepôt de la boutique en ligne La
                Nîmes'alerie.fr et non pas du stock d’un magasin physique La
                Nîmes'alerie, il doit être retourné à ce même entrepôt.
            </p>

            <h6 id="ancre7">7. Options de livraison</h6>
            <p>
                D’une façon générale, les produits ne peuvent être livrés qu’en France
                Continentale.
            </p>
            <p class="pb-5">
                Le délai de livraison pour les colis en France Continentale est de 3 à
                5 jours ouvrables pour toute commande avant 16h00.
            </p>

            <h6 id="ancre8">8. Disponibilité des produits</h6>
            <p>
                En cas de commande d’un article qui s’avère indisponible, Fressnapf se
                réserve le droit d’annuler la commande, à condition que l’acheteur en
                soit informé. Nous remboursons immédiatement toute contrepartie
                éventuellement déjà reçue.
            </p>
            <p class="pb-5">
                Les produits ne sont livrés qu’en quantités correspondant aux besoins
                habituels d’un foyer.
            </p>

            <h6 id="ancre9">9. Paiement</h6>
            <p>
                Vous pouvez payer par carte de crédit ou par PayPal. Nous nous
                réservons le droit de n’accepter que certains modes de paiement.
            </p>
            <p class="pb-5">
                Quel que soit le mode de paiement choisi, vous recevez par courriel la
                facture correspondant à votre commande.
            </p>

            <h6>9.1 Paiement par carte de crédit</h6>
            <p class="pb-5">
                En cas de paiement par carte de crédit, le montant dû est débité dans
                la semaine qui suit l’envoi des produits. Vous pouvez payer par carte
                VISA ou par MasterCard.
            </p>

            <h6>9.2 Paiement par PayPal</h6>
            <p>
                Vous avez la possibilité de régler nos services et nos marchandises en
                utilisant la fonction Reference Transaction (également appelée «
                autoriser & encaisser ») de PayPal (Europe) SARL et Cie, S.C.A., 22-24
                Boulevard Royal, L-2449 Luxemburg (dénommée ci-après : Pay-Pal).
                L’usage de ce mode de paiement nécessite la délivrance d’une
                autorisation de prélèvement sur le compte PayPal que vous avez
                sélectionné respectivement dans le même ordre d’idées en faveur de
                Fressnapf. En utilisant cette fonction, vous nous autorisez donc à
                l’avenir à encaisser les paiements dus de votre part de manière unique
                ou récurrente (à intervalles réguliers ou irréguliers) du compte
                PayPal sélectionné.
            </p>
            <p>
                Pour être en mesure d’utiliser ce mode de paiement, vous devez être
                enregistré auprès de PayPal, vous identifier avec vos données d’accès
                et nous confirmer une seule fois les instructions de paiement dans la
                section « Paiement par prélèvement bancaire du commerçant ». À cette
                fin et dans le cadre du processus de commande dans notre boutique en
                ligne, vous serez redirigé initialement vers un site de PayPal. Grâce
                à votre confirmation de la fonction de paiement en question, nous
                sommes autorisés à effectuer le prélèvement immédiatement du compte
                PayPal respectif. Dans le même temps, PayPal est chargé de mettre à
                disposition les montants que nous demandons par le biais d’une
                procédure de recouvrement conformément aux conditions d’utilisation de
                PayPal. En règle générale, le débit du compte PayPal pour le
                traitement des paiements en notre faveur a lieu le même jour. Il n’est
                toutefois pas exclu que nous ne percevions dans un premier temps qu’un
                montant partiel, et par la suite, le montant total de la créance.
            </p>
            <p>
                Vous avez la possibilité de modifier à tout moment l’autorisation de
                prélèvement octroyée en notre faveur par Fressnapf dans votre profil
                PayPal sous la rubrique « Paiements par prélèvement bancaire du
                commerçant » ou de révoquer cette autorisation avec effet pour
                l’avenir.
            </p>
            <p class="pb-5">
                Si vous commandez chez nous sans compte client, la fonction de
                transaction de référence Paypal n’est pas disponible. Cependant, vous
                pouvez toujours payer avec Paypal. Ce paiement via PayPal est pratique
                et sécurisé. Vous pouvez facilement payer en deux clics. Comme tous
                les clients de PayPal, vous bénéficiez également de la protection des
                acheteurs de PayPal. Paypal est uniquement disponible comme méthode de
                paiement dans la boutique en ligne La Nîmes'alerie.
            </p>

            <h6 id="ancre10">10. Bons de réduction en ligne</h6>
            <p class="pb-5">
                L’utilisation de bons de réduction en ligne est soumise aux conditions
                applicables à ces bons, telles que montant ou quantité minimum de
                commande, délai de validité, etc. Ces conditions vous sont indiquées
                au moment de l’émission du bon de réduction. Vous ne pouvez utiliser
                qu’un seul bon par achat. L’utilisation n’est pas cumulable avec
                d’autres remises. Il n’est pas possible d’obtenir le paiement de la
                valeur du bon de réduction ou l’imputation ultérieure de celle-ci sur
                une commande antérieure. Toute revente de bons de réduction est
                interdite. Si les produits sont retournés, les remises sont imputées
                proportionnellement sur la valeur du produit retourné.
            </p>

            <h6 id="ancre11">
                11. Essai de nouvelles options de livraison gratuite
            </h6>
            <p class="pb-5">
                Dans différentes régions déterminées en fonction des codes postaux,
                Fressnapf teste la mise en place de nouvelles options d’expédition. Si
                votre commande doit être livrée dans l’une de ces régions et si les
                produits commandés sont adaptés à ces nouvelles options, vous recevez
                éventuellement un courriel indiquant un numéro de téléphone gratuit
                qui vous permet de choisir l’une de ces nouvelles options sans frais
                supplémentaires. Nous proposons, par exemple, la récupération des
                produits dans un magasin ou la livraison à la date de votre choix.
            </p>

            <h6 id="ancre12">12. Garantie</h6>
            <p>
                Si un produit livré présente manifestement un défaut de matière ou de
                fabrication, y compris un dommage subi pendant le transport, vous
                devez nous prévenir immédiatement ou signaler le défaut au livreur du
                transporteur, qui vous a livré le produit. L’omission de cette
                réclamation n’a aucune incidence sur les droits dont vous bénéficiez
                en vertu de la loi mais, vous nous aidez à pouvoir faire valoir nos
                propres droits à l’encontre du transporteur ou de la compagnie
                d’assurance du transporteur ou de nos fournisseurs. En cas de vices
                des produits apparus pendant la durée de garantie prévue par la loi,
                vous avez légalement le droit d’exiger, soit la réparation du vice,
                soit la livraison d’un produit de remplacement. Si les conditions
                prévues par la loi sont réunies, vous pouvez demander une réduction du
                prix ou l’annulation de votre contrat et la réparation du préjudice
                subi, y compris en lieu et place de l’exécution du contrat, et le
                remboursement des frais exposés en pure perte.
            </p>
            <p class="pb-5">
                Si nous accordons une garantie commerciale, les détails de celle-ci
                résultent des conditions de garantie jointes au produit. Les droits de
                toute garantie commerciale peuvent être exercés sans préjudice des
                droits et actions prévus par la loi.
            </p>

            <h6 id="ancre13">13. Protection des données</h6>
            <p class="pb-5">
                Pour savoir comment et dans quelle mesure nous recueillons, traitons
                et utilisons vos données personnelles, nous vous invitons à consulter
                notre politique de confidentialité: www.La
                Nîmes'alerie.fr/declaration-de-protection-des-donnees/
            </p>

            <h6 id="ancre14">14. Droit de propriété intellectuelle</h6>
            <p class="pb-5">
                Tous les droits afférents au contenu de notre boutique en ligne, en
                particulier les droits de marque et de propriété intellectuelle, sont
                détenus par nous ou nos partenaires. Vous êtes tenu d’en tenir compte
                et vous vous engagez à n’utiliser aucun contenu de notre boutique en
                ligne, de quelque nature que ce soit, au-delà de la visite normale
                d’une boutique en ligne. En particulier, la duplication, la
                distribution et/ou la publication de contenus est interdite sans notre
                consentement exprès par écrit.
            </p>

            <h6 id="ancre15">
                15. Langue du contrat | loi applicable | exploitant du site
            </h6>
            <p>
                La langue du contrat est le français. La loi applicable est la loi
                allemande à l’exclusion de la Convention des Nations-Unies sur les
                contrats de vente internationale de marchandises. Ce choix de la loi
                applicable ne porte pas préjudice à l’application des règles d’ordre
                public, notamment en matière de droit de la consommation, de l’État
                dans lequel vous avez votre résidence habituelle au moment de la
                conclusion du contrat.
            </p>
            <p>
                L’exploitant de la boutique en ligne est la société de droit allemand
            </p>
            <ul class="mb-5">
                <li>Fressnapf Tiernahrungs GmbH</li>
                <li>Westpreußenstraße 32-38, 47809 Krefeld</li>
                <li>
                    Gérants : Heiko Bücker, Dr. Hans-Jörg Gidlewitz, Jochen Huppert, Dr.
                    Johannes Steegmann
                </li>
                <li>
                    N° d’immatriculation au registre du commerce de Krefeld: HRB 5030
                </li>
            </ul>

            <h6 id="ancre16">
                16. Règlement de litiges en ligne | règlement de litiges de
                consommation
            </h6>
            <p>
                Selon l’article L. 612-1 du Code de la consommation ” Tout
                consommateur a le droit de recourir gratuitement à un médiateur de la
                consommation en vue de la résolution amiable du litige qui l’oppose à
                un professionnel.” Cela s’applique aux litiges contractuels relatifs à
                l’exécution d’un contrat de vente ou de service entre un consommateur
                et un professionnel.
            </p>
            <p>
                En cas de difficultés, nous vous demandons de contacter au préalable
                notre service clientèle. Si votre problème n’a pas été résolu, vous
                pouvez recourir aux services d’un médiateur pour régler le litige à
                l’amiable dans un délai d’un an à compter de la réception de votre
                demande au service clientèle.
            </p>
            <p>
                À cette fin, vous pouvez consulter le site internet de la commission
                d’évaluation et de contrôle de la médiation de la consommation qui
                comporte toutes informations utiles pour le consommateur en cas de
                litige de consommation transfrontalier
                (https://www.economie.gouv.fr/mediation-conso). Il fournit notamment
                les coordonnées du Centre européen des consommateurs France et des
                indications relatives aux modalités de l’assistance dont les
                consommateurs peuvent bénéficier en vue du règlement extrajudiciaire
                de tels litiges.
            </p>
            <p class="pb-5">
                Vous pouvez également contacter un organisme de règlement des litiges
                dont la liste figure à la page suivante:
                http://ec.europa.eu/consumers/odr/.
            </p>

            <h6 id="ancre17">17. Réserve de propriété | revente</h6>
            <p class="pb-5">
                Les produits restent notre propriété jusqu’au paiement intégral de
                leur prix. Toute revente à titre professionnel est interdite.
            </p>

            <!-- Bouton up -->
            <div class="fixed-bottom">
                <div class="col-12 mb-5">
                    <a href="#ancre-cvg">
                        <div class="text-end me-5">
                            <i
                                    class="
                    fs-5
                    border border-2
                    rounded
                    border-dark
                    p-2
                    fas
                    fa-chevron-up
                  "
                            ></i>
                        </div>
                    </a>
                </div>
            </div>
        </section>


        <!-- Les marques     -->
        {% include 'parts/marques.html.twig' %}

        <!-- section réassurance -->
        {% include 'parts/reassuranceClient.html.twig' %}
    </main>
{% endblock %}