{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Register {% endblock %}

{% block body %}

    <main>
        <!-- Fil d'ariane -->
        <nav
                class="container my-2"
                style="--bs-breadcrumb-divider: '>'"
                aria-label="breadcrumb"
        >
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('default') }}">Accueil</a></li>
                <li class="breadcrumb-item active">Mon compte</li>
            </ol>
        </nav>

        <!-- header page -->
        <div id="ancre-boutique" class="bg-compte d-flex">
            <h2 class="container align-self-center fw-normal fs-1">
                Créer mon <br/>
                compte
            </h2>
        </div>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-12 offset-lg-2 mt-4">
                        <form class="mb-4 bg-white shadow-sm px-lg-5 py-3" action="">
                            <h3 class="text-center">Vous êtes ?</h3>
                            <div class="d-flex justify-content-center mb-2">
                                <div>
                                    <input
                                            type="radio"
                                            id="homme"
                                            name="genre"
                                            value="homme"
                                            checked
                                    />
                                    <label class="me-3" for="homme">Monsieur</label>
                                </div>

                                <div>
                                    <input type="radio" id="femme" name="genre" value="femme"/>
                                    <label for="femme">Madame</label>
                                </div>
                            </div>
                            <!-- prénom -->
                            <div class="d-flex flex-column">
                                <input
                                        type="text"
                                        name="prenom"
                                        class="ps-3 my-1 border border-1 border-dark rounded py-1"
                                        placeholder="Prénom*"
                                />
                                <!-- nom -->
                                <input
                                        type="text"
                                        name="nom"
                                        class="ps-3 my-2 border border-1 border-dark rounded py-1"
                                        placeholder="Nom*"
                                />
                                <!-- Nom d'utilisateur -->
                                <input
                                        type="text"
                                        name="nomutilisateur"
                                        class="ps-3 my-2 border border-1 border-dark rounded py-1"
                                        placeholder="Nom d'utilisateur*"
                                />
                                <!-- email -->
                                <input
                                        type="email"
                                        name="email"
                                        class="ps-3 my-1 border border-1 border-dark rounded py-1"
                                        placeholder="Email*"
                                />
                            </div>

                            <h3 class="text-center my-3">Mot de passe</h3>

                            <!-- mdp -->
                            <div class="d-flex mt-3 flex-column">
                                <input
                                        type="password"
                                        name="password"
                                        class="ps-3 my-1 border border-1 border-dark rounded py-1"
                                        placeholder="Mot de passe*"
                                />
                                <!-- mdp verif -->
                                <label class="mt-2" for="passwordverif"
                                >Confirmer le mot de passe</label>
                                <input
                                        type="password"
                                        name="passwordverif"
                                        id="passwordverif"
                                        class="ps-3 my-1 border border-1 border-dark rounded py-1"
                                        placeholder="Mot de passe*"
                                />
                            </div>

                            <h3 class="text-center my-3">Anniversaire</h3>

                            <!-- date anniv -->
                            <div class="row">
                                <div class="col-lg-4 col-12 offset-lg-4">
                                    <div class="d-flex flex-column">
                                        <input
                                                type="date"
                                                name="anniv"
                                                class="
                          ps-3
                          my-1
                          border border-1 border-dark
                          rounded
                          py-1
                        "
                                        />
                                    </div>
                                </div>
                            </div>

                            <h3 class="text-center my-3">Adresse</h3>

                            <!-- adresse -->
                            <div class="row">
                                <div class="col-3">
                                    <!-- nb -->
                                    <div class="d-flex flex-column">
                                        <input
                                                type="number"
                                                name="numero"
                                                class="
                          ps-3
                          my-1
                          border border-1 border-dark
                          rounded
                          py-1
                        "
                                                placeholder="N° de rue"
                                        />
                                    </div>
                                </div>
                                <!-- rue -->
                                <div class="col-9">
                                    <div class="d-flex flex-column">
                                        <input
                                                type="text"
                                                name="anniv"
                                                class="
                          ps-3
                          my-1
                          border border-1 border-dark
                          rounded
                          py-1
                        "
                                                placeholder="Rue*"
                                        />
                                    </div>
                                </div>
                                <!-- code postal -->
                                <div class="col-3">
                                    <div class="d-flex flex-column">
                                        <input
                                                type="number"
                                                name="codepostal"
                                                class="
                          ps-3
                          my-1
                          border border-1 border-dark
                          rounded
                          py-1
                        "
                                                placeholder="CP*"
                                        />
                                    </div>
                                </div>
                                <!-- ville -->
                                <div class="col-9">
                                    <div class="d-flex flex-column">
                                        <input
                                                type="text"
                                                name="ville"
                                                class="
                          ps-3
                          my-1
                          border border-1 border-dark
                          rounded
                          py-1
                        "
                                                placeholder="Ville*"
                                        />
                                    </div>
                                </div>
                            </div>
                            <!-- pays -->
                            <div class="d-flex flex-column">
                                <input
                                        type="text"
                                        name="pays"
                                        class="ps-3 my-1 border border-1 border-dark rounded py-1"
                                        placeholder="Pays*"
                                />
                            </div>
                            <!-- complément -->
                            <div class="d-flex flex-column">
                                <input
                                        type="text"
                                        name="complément"
                                        class="ps-3 my-1 border border-1 border-dark rounded py-1"
                                        placeholder="Complément d'adresse"
                                />
                            </div>
                            <!-- cgv -->
                            <div class="text-end mt-4">
                                <input type="checkbox" id="cgv" name="cgv"/>
                                <label for="cgv"
                                >Accepter les conditions générales de vente
                                </label>
                            </div>

                            <!-- bouton -->
                            <div class="text-end">
                                <input
                                        class="mybutton border-0 rounded py-1 px-4 my-2"
                                        type="submit"
                                        value="S'inscrire"
                                />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        <!-- Les marques     -->
        {% include 'parts/marques.html.twig' %}

        <!-- section réassurance -->
        {% include 'parts/reassuranceClient.html.twig' %}
    </main>

{% endblock %}
