{% extends 'base-contact.html.twig' %}

{% block title %} {{ parent() }} - Contact {% endblock %}

{% block body %}
    <div class="container pt-5">
        <h2 class="text-center mb-5 ms-lg-5">MERCI POUR VOTRE MESSAGE</h2>
        <div class="row">
            <div class="col-12 mt-5 mt-3">
                <div class="row justify-content-center">
                    <div
                            class="
                col-lg-4
                offset-lg-1
                col-sm-6 col-8
                offset-2
                mx-0
                text-center
              "
                    >
                        <h5 class="bg-blanc-sm py-2 px-2 rounded">
                            Nous reviendrons vers vous aussi vite que possible
                        </h5>
                        <a href="/" class="mybutton-card px-4 py-2 mt-2">
                            Retour vers le site
                        </a>
                    </div>
                    <div class="col-lg-6"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
