{% extends 'base-admin.html.twig' %}

{% block title %}Modifier Sous catégorie{% endblock %}

{% block body %}
    <h1>Modifier Sous catégorie</h1>

    {{ include('souscategorie/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="d-flex">
        <div><a class="btn btn-outline-dark" href="{{ path('souscategorie_index') }}">Retour à la liste</a></div>

        <div>{{ include('souscategorie/_delete_form.html.twig') }}</div>

    </div>

{% endblock %}
