{% extends 'base-admin.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1>Modifier Catégorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="d-flex">
        <div><a class="btn btn-outline-dark" href="{{ path('categorie_index') }}">Retour à la liste</a></div>

        <div>{{ include('categorie/_delete_form.html.twig') }}</div>

    </div>

{% endblock %}
