<section class="my-4">
    <div class="container">
        <!-- row 1 -->
        <div class="row">
            <div class="col-lg-4 mb-2">
                <div
                        class="d-flex justify-content-center align-items-center h-100"
                >
                    <img
                            class="me-2 svg"
                            height="30"
                            alt="Camion de livraison"
                            src="images/local_shipping.svg"
                    />
                    <p class="my-0 fs-5">Livraison en 24h</p>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div
                        class="d-flex justify-content-center align-items-center h-100"
                >
                    <img
                            class="me-2 mb-1 svg"
                            height="30"
                            alt="Paiement sécurisé"
                            src="images/secure-payment.svg"
                    />
                    <p class="my-0 fs-5">Paiement sécurisé</p>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div
                        class="d-flex justify-content-center align-items-center h-100"
                >
                    <img
                            class="me-2 mb-1 svg"
                            height="30"
                            alt="Remoursement"
                            src="images/refund2.svg"
                    />
                    <p class="my-0 fs-5">Remboursement sous 30 j</p>
                </div>
            </div>
            <!-- row 2 -->
            <div class="col-lg-2 col-sm-2">
                <div></div>
            </div>
            <div
                    class="
                col-lg-8 col-sm-8
                mb-2
                d-flex
                justify-content-center
                align-items-center
              "
            >
                <p class="fs-5 mb-0 me-4">Modes de paiement :</p>
                <img
                        class="me-2 svg"
                        height="24"
                        alt="Paypal"
                        src="images/paypal2.svg"
                />
                <img
                        class="me-2 svg"
                        height="40"
                        alt="Mastercard"
                        src="images/mastercard.svg"
                />
                <img
                        class="ms-2 svg"
                        height="34"
                        alt="Visa"
                        src="images/visa.svg"
                />
            </div>
            <div class="col-lg-2 col-sm-2">
                <div></div>
            </div>
        </div>
    </div>
</section>